*{
	margin: 0;
	padding: 0;

}

.head{
	height: 100px;
}


a.nav:active, 
a.nav:hover,  
a.nav {
  text-decoration: none;
  color: black;
  padding-right: 27px;
  font-size: 15px;
  font-family: 'Francois One', sans-serif;

}
.menu {
	display: inline-block;
	text-align: center;
	padding-top: 43px;
}
 /*menu мобильная */
 .mobmenu{
 	display: none;
 	margin: auto;
 	left: 0;
 	transition: 1s ease all;
 	z-index: 1000;
 	opacity: 1;
 	
 }

.menu1, .menu2, .menu3{
	background-color: black;
	height: 4px;
	width: 40px;
	margin: 6px 0;
	cursor: pointer;
	
}
.chang .menu1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  	transform: rotate(-45deg) translate(-9px, 6px) ;
  	transition: 1s ease all;
}
.chang .menu2{
	opacity: 0;
	transition: 1s ease all;
}

.chang .menu3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  	transform: rotate(45deg) translate(-8px, -8px) ;
  	transition: 1s ease all;
}
/*-------Скрытый меню-------*/
.hidemenu{
	width: 200px;
	background-color: #181818;
	height: 100%;
	position: fixed;
	left: -200px; 
	z-index: 1000;
	transition: 1s ease ;
	opacity: 0.5;



}
.hidemenu a{
	display: inline-block; 
	text-decoration: none;
	color: white;
	font-family: 'Francois One', sans-serif;
	padding: 2px;
	padding-left: 60px;
	padding-top: 20px;
	font-size: 20px;
		
}
.close{
	display: block;
	font-size: 64px;
	cursor: pointer;
	position: absolute;
	left: 150px;
	transition: 2s ease all;
	color: white;
	z-index: 4000;

}

/*---------End-----------------*/
 /*end*/
.logo{
	display: block;
	padding-top: 22px;
	margin: auto;
}

.number{
	text-align: right;
	padding-top: 50px;
	margin-right: 50px;
	font-family: 'Francois One', sans-serif;
}

/*----------------Slider----------------*/
 
.slide{
	display: none;
}

.boots{
	position: absolute;
	top: 14%;
	right: 0;
	width: 60%;
	z-index: 2;
}

.imag{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
	
}
.spot{
	position: relative;
	top: 0;
	width: 100%;
	
	
}
.spot:hover{
	transform: scale(1.03);
	transition: 2s ease all;
}

.titles{
	display: inline-block;
	color: white;
	position: absolute;
	padding-left: 6%;
	top: 40%;
	z-index: 4;
	text-align: center;
	font-size: 4vw;
	color: #ec261e;
	font-family: 'Francois One', sans-serif;
}
.paragraf{
	text-align: center;
	display: inline-block;
	position: absolute;
	color: white;
	top: 50%;
	padding-right: 50%;
	padding-left: 7%;
	padding-top: 20px;
	z-index: 4;
	font-size: 1.4vw;

}

.viewshop{
	position: absolute;
	top: 67%;
	left: 20%;
	border: 10px solid black;
	padding: 1px 25px;
	margin-top: 20px;
	background-color: black;
	color: white;
	z-index: 6;
	font-size: 1.7vw;
	font-family: 'Francois One', sans-serif;
}
.viewshop:hover {
	transform: scale(1.3);
	transition: 0.5s ease all;
}

.fcreator{
	position: absolute;
	top: 10%;
	left: 10%;
	color: white;
	font-family: 'Francois One', sans-serif;
	font-size: 2vw;
}

.newcol{
	position: absolute;
	top: 10%;
	left: 10%;
	padding-top: 6%;
	color: white;
	font-family: 'Francois One', sans-serif;
	font-size: 1.7vw;
}

/*-----------------Boots kategory -------------------*/
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: black;
  list-style: none;
}
.cat{
	z-index: 100;
}
 .sport {
	display: inline-block;
	padding: 10px 50px 0 50px;
	font-size: 20px;
	font-family:  sans-serif;
	z-index: 20000;
	

}
.sport:hover{
	transform: scale(1.1);
	transition: 0.4s ease all;
	z-index: 20000;
	
}
.category {
	padding-top: 70px;
	text-align: center;
	height: 200px;
	z-index: 20000;
}

/*---------------------Подменю-------------------*/
.content{
	color: white;
	font-family: sans-serif;
	display: inline-block;
	padding-top: 10px;
	padding-right: 40px;
	padding-left: 10px; 
	padding-bottom: 10px;
	text-align: left;
	width: 300px;
	float: left;
	
	
	

}
.content:hover{
	color: white;
	background-color: #908c8c;
	border-radius: 35px;
	width: 100%;
	cursor: pointer;
	
	
}

.slippers-content{
	position: absolute;
	display: none;
	border-radius: 24px;
	
	
	
}
span {
	color: red;
	cursor: pointer;
	z-index: 20000;
}
.btn:hover  .slippers-content{
	display: block;
	background-image: url(image/bk.png);
	background-size: 100%;
	z-index: 20000;
	opacity: 0.5;
	



}



/*------------------Products boots--------------------------------*/
.mpa{
	display: block;
	text-align: center;
	width: 380px;
	border: 1px #dcd8d8 solid;
	float: left; ;
	background: white;
	
	
	
}
.mpa:hover{
	transform: scale(1.1);
	transition: 0.4s ease all;
	z-index: 1000;
	
	
}

.boots1{
	display: block
	margin: auto;
	padding:  0 30px;
	padding-top: 20%;
	width: 100%;
	
	
}


.bootsname{
	font-size: 18px;
	text-align: center;
	font-family: 'Francois One', sans-serif;
	
}
.price{
	text-align: center;
	font-size:  16px;
	font-family: 'Francois One', sans-serif;
	padding-bottom: 50px;
	
}






/*-----------Тестовой Слайдер -----------------*/

.opacity1{
	opacity: 0.5;
	transition: 1s ease all;
}



























 @media only screen and (max-width: 940px){
 	.menu {
 		display: none;
 	}
 	.mobmenu{
 		display: block;
 	}

 }